
<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myJobOfferLabel">Create or edit a JobOffer</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>

        <div class="form-group">
            <label for="field_title">Title</label>
            <input type="text" class="form-control" name="title" id="field_title"
                    ng-model="jobOffer.title"
                    required>
            <div ng-show="editForm.title.$invalid">
                <p class="help-block"
                    ng-show="editForm.title.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label for="field_location">Location</label>
            <input type="text" class="form-control" name="location" id="field_location"
                    ng-model="jobOffer.location">
        </div>
        <div class="form-group">
            <label for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="jobOffer.description">
        </div>
        <div class="form-group">
            <label for="field_description">Start Date</label>
            <p class="input-group">
                <input type="text" name="startDate" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="jobOffer.startDate"
                       is-open="statusDatePickerStartdDate.opened" datepicker-options="dateOptions" close-text="Close"
                       date-disabled="disabled(date, mode)"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDatePickerStartdDate($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
        <div ng-show="editForm.startDate.$invalid">
            <p class="help-block"
               ng-show="editForm.startDate.$error">
                The Job Offer was not saved, as the start date can not be in the past.
            </p>
        </div>
        <div class="form-group">
            <label for="field_description">End Date</label>
            <p class="input-group">
                <input type="text" name="endDate" class="form-control" datepicker-popup="dd/MM/yyyy" ng-model="jobOffer.endDate"
                       is-open="statusDatePickerEndDate.opened" datepicker-options="dateOptions" close-text="Close"
                       date-disabled="disabled(date, mode)"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDatePickerEndDate($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
        <div ng-show="editForm.endDate.$invalid">
            <p class="help-block"
               ng-show="editForm.endDate.$error">
                {{editForm.endDate.$errorMessage}}
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" id="save-button" ng-disabled="editForm.$invalid || editForm.$submitted" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
